node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
.vscode

# Generated
data/*
dist
_operators-data.json

# Not generated data
!data/.game-data-sha
!data/custom

# Generated locales from game data, does not need to be in repository
# Unless for translation memory in localization tools
# locales/en-US/*-data.json
# locales/ja-JP/*-data.json
# locales/ko-KR/*-data.json
# locales/zh-CN/*-data.json
