node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
.vscode

# Generated
data/*
dist

# Not generated data
!data/custom

# Generated locales from game data, does not need to be in repository (unlike en-TL)
locales/en-US/*-data.json
locales/ja-JP/*-data.json
locales/ko-KR/*-data.json
locales/zh-CN/*-data.json
locales/zh-TW/*-data.json
