/* stylelint-disable custom-property-pattern */

@mixin brand-colors($light-mode: true) {
  @if $light-mode {
    --color-brand-icon: var(--color-primary-DEFAULT);
    --color-brand-text: var(--color-gray-900);
  } @else {
    --color-brand-icon: var(--color-primary-DEFAULT);
    --color-brand-text: var(--color-gray-50);
  }
}

/* stylelint-disable custom-property-empty-line-before */
@mixin rarity-colors($light-mode: true) {
  --color-rarity-1-card: var(--tw-slate-400);
  --color-rarity-2-card: var(--tw-lime-400);
  --color-rarity-3-card: var(--tw-sky-400);
  --color-rarity-4-card: var(--tw-indigo-400);
  --color-rarity-5-card: var(--tw-yellow-400);
  --color-rarity-6-card: var(--tw-orange-400);

  @if $light-mode {
    --color-rarity-1-item: var(--color-gray-200);
    --color-rarity-1-item-focus: var(--color-gray-300);

    --color-rarity-2-item: var(--tw-lime-200);
    --color-rarity-2-item-focus: var(--tw-lime-300);

    --color-rarity-3-item: var(--tw-sky-200);
    --color-rarity-3-item-focus: var(--tw-sky-300);

    --color-rarity-4-item: var(--tw-indigo-200);
    --color-rarity-4-item-focus: var(--tw-indigo-300);

    --color-rarity-5-item: var(--tw-yellow-200);
    --color-rarity-5-item-focus: var(--tw-yellow-300);

    --color-rarity-6-item: var(--tw-orange-200);
    --color-rarity-6-item-focus: var(--tw-orange-300);
  } @else {
    --color-rarity-1-item: var(--color-gray-300);
    --color-rarity-1-item-focus: var(--color-gray-400);

    --color-rarity-2-item: var(--tw-lime-300);
    --color-rarity-2-item-focus: var(--tw-lime-400);

    --color-rarity-3-item: var(--tw-sky-300);
    --color-rarity-3-item-focus: var(--tw-sky-400);

    --color-rarity-4-item: var(--tw-indigo-300);
    --color-rarity-4-item-focus: var(--tw-indigo-400);

    --color-rarity-5-item: var(--tw-yellow-300);
    --color-rarity-5-item-focus: var(--tw-yellow-400);

    --color-rarity-6-item: var(--tw-orange-300);
    --color-rarity-6-item-focus: var(--tw-orange-400);
  }
}
/* stylelint-enable custom-property-empty-line-before */

@mixin body-colors($light-mode: true) {
  @if $light-mode {
    --color-bg-body: var(--color-gray-50);
    --color-fg-body: var(--color-gray-900);
  } @else {
    --color-bg-body: var(--color-gray-800);
    --color-fg-body: var(--color-gray-50);
  }
}

@mixin navbar-colors($light-mode: true) {
  @if $light-mode {
    --color-bg-navbar: var(--color-gray-50);
    --color-fg-navbar-inactive: var(--color-gray-700);
    --color-fg-navbar-active: var(--color-primary-DEFAULT);
    --color-fg-navbar-focus: var(--color-gray-900);
  } @else {
    --color-bg-navbar: var(--color-gray-900);
    --color-fg-navbar-inactive: var(--color-gray-300);
    --color-fg-navbar-active: var(--color-primary-DEFAULT);
    --color-fg-navbar-focus: var(--color-gray-50);
  }
}

@mixin primary-color-container-colors($light-mode: true) {
  --color-bg-primary: var(--color-primary-DEFAULT);
  --color-fg-primary: var(--color-gray-50);
}

@mixin input-colors($light-mode: true) {
  @if $light-mode {
    --color-bg-input: var(--color-gray-50);
    --color-bg-input-focus: var(--color-gray-50);
    --color-fg-input: var(--color-gray-900);
    --color-fg-input-placeholder: var(--color-gray-400);
  } @else {
    --color-bg-input: var(--color-gray-800);
    --color-bg-input-focus: var(--color-gray-700);
    --color-fg-input: var(--color-gray-50);
    --color-fg-input-placeholder: var(--color-gray-400);
  }
}

@mixin container-1-colors($light-mode: true) {
  @if $light-mode {
    --color-bg-container-1: var(--color-gray-200);
    --color-bg-container-1-focus: var(--color-gray-300);
    --color-fg-container-1: var(--color-gray-700);
  } @else {
    --color-bg-container-1: var(--color-gray-700);
    --color-bg-container-1-focus: var(--color-gray-600);
    --color-fg-container-1: var(--color-gray-300);
  }
}

@mixin dark-mode-override {
  @include brand-colors($light-mode: false);
  @include rarity-colors($light-mode: false);
  @include body-colors($light-mode: false);
  @include navbar-colors($light-mode: false);
  @include primary-color-container-colors($light-mode: false);
  @include input-colors($light-mode: false);
  @include container-1-colors($light-mode: false);
}

:root,
[data-theme="mizuki"] {
  @include brand-colors;
  @include rarity-colors;
  @include body-colors;
  @include navbar-colors;
  @include primary-color-container-colors;
  @include input-colors;
  @include container-1-colors;

  &.dark {
    @include dark-mode-override;
  }

  @media (prefers-color-scheme: dark) {
    &:not(.light) {
      @include dark-mode-override;
    }
  }
}
