:root {
  --tw-slate-50: 248, 250, 252;
  --tw-slate-200: 226, 232, 240;
  --tw-slate-300: 203, 213, 225;
  --tw-slate-400: 148, 163, 184;
  --tw-slate-600: 71, 85, 105;
  --tw-slate-700: 51, 65, 85;
  --tw-slate-800: 30, 41, 59;
  --tw-slate-900: 15, 23, 42;
}
