:root {
  // Tailwind RGB tuples:
  // https://redpixelthemes.com/blog/tailwindcss-colors-different-formats/

  // Tailwind Slate
  --tw-slate-50: 248, 250, 252;
  --tw-slate-100: 241, 245, 249;
  --tw-slate-200: 226, 232, 240;
  --tw-slate-300: 203, 213, 225;
  --tw-slate-400: 148, 163, 184;
  --tw-slate-500: 100, 116, 139;
  --tw-slate-600: 71, 85, 105;
  --tw-slate-700: 51, 65, 85;
  --tw-slate-800: 30, 41, 59;
  --tw-slate-900: 15, 23, 42;

  // Tailwind Gray (Rarity: 1 star)
  --tw-gray-50: 249, 250, 251;
  --tw-gray-100: 243, 244, 246;
  --tw-gray-200: 229, 231, 235;
  --tw-gray-300: 209, 213, 219;
  --tw-gray-400: 156, 163, 175;
  --tw-gray-500: 107, 114, 128;
  --tw-gray-600: 75, 85, 99;
  --tw-gray-700: 55, 65, 81;
  --tw-gray-800: 31, 41, 55;
  --tw-gray-900: 17, 24, 39;

  // Tailwind Lime (Rarity: 2 star)
  --tw-lime-50: 247, 254, 231;
  --tw-lime-100: 236, 252, 203;
  --tw-lime-200: 217, 249, 157;
  --tw-lime-300: 190, 242, 100;
  --tw-lime-400: 163, 230, 53;
  --tw-lime-500: 132, 204, 22;
  --tw-lime-600: 101, 163, 13;
  --tw-lime-700: 77, 124, 15;
  --tw-lime-800: 63, 98, 18;
  --tw-lime-900: 54, 83, 20;

  // Tailwind Sky (Rarity: 3 star)
  --tw-sky-50: 240, 249, 255;
  --tw-sky-100: 224, 242, 254;
  --tw-sky-200: 186, 230, 253;
  --tw-sky-300: 125, 211, 252;
  --tw-sky-400: 56, 189, 248;
  --tw-sky-500: 14, 165, 233;
  --tw-sky-600: 2, 132, 199;
  --tw-sky-700: 3, 105, 161;
  --tw-sky-800: 7, 89, 133;
  --tw-sky-900: 12, 74, 110;

  // Tailwind Indigo (Rarity: 4 star)
  --tw-indigo-50: 238, 242, 255;
  --tw-indigo-100: 224, 231, 255;
  --tw-indigo-200: 199, 210, 254;
  --tw-indigo-300: 165, 180, 252;
  --tw-indigo-400: 129, 140, 248;
  --tw-indigo-500: 99, 102, 241;
  --tw-indigo-600: 79, 70, 229;
  --tw-indigo-700: 67, 56, 202;
  --tw-indigo-800: 55, 48, 163;
  --tw-indigo-900: 49, 46, 129;

  // Tailwind Yellow (Rarity: 5 star)
  --tw-yellow-50: 254, 252, 232;
  --tw-yellow-100: 254, 249, 195;
  --tw-yellow-200: 254, 240, 138;
  --tw-yellow-300: 253, 224, 71;
  --tw-yellow-400: 250, 204, 21;
  --tw-yellow-500: 234, 179, 8;
  --tw-yellow-600: 202, 138, 4;
  --tw-yellow-700: 161, 98, 7;
  --tw-yellow-800: 133, 77, 14;
  --tw-yellow-900: 113, 63, 18;

  // Tailwind Orange (Rarity: 6 star)
  --tw-orange-50: 255, 247, 237;
  --tw-orange-100: 255, 237, 213;
  --tw-orange-200: 254, 215, 170;
  --tw-orange-300: 253, 186, 116;
  --tw-orange-400: 251, 146, 60;
  --tw-orange-500: 249, 115, 22;
  --tw-orange-600: 234, 88, 12;
  --tw-orange-700: 194, 65, 12;
  --tw-orange-800: 154, 52, 18;
  --tw-orange-900: 124, 45, 18;

  // Tailwind zinc
  --tw-zinc-50: 250, 250, 250;
  --tw-zinc-100: 244, 244, 245;
  --tw-zinc-200: 228, 228, 231;
  --tw-zinc-300: 212, 212, 216;
  --tw-zinc-400: 161, 161, 170;
  --tw-zinc-500: 113, 113, 122;
  --tw-zinc-600: 82, 82, 91;
  --tw-zinc-700: 63, 63, 70;
  --tw-zinc-800: 39, 39, 42;
  --tw-zinc-900: 24, 24, 27;

  // Tailwind Neutral
  --tw-neutral-50: 250, 250, 250;
  --tw-neutral-100: 245, 245, 245;
  --tw-neutral-200: 229, 229, 229;
  --tw-neutral-300: 212, 212, 212;
  --tw-neutral-400: 163, 163, 163;
  --tw-neutral-500: 115, 115, 115;
  --tw-neutral-600: 82, 82, 82;
  --tw-neutral-700: 64, 64, 64;
  --tw-neutral-800: 38, 38, 38;
  --tw-neutral-900: 23, 23, 23;

  // Tailwind Stone
  --tw-stone-50: 250, 250, 249;
  --tw-stone-100: 245, 245, 244;
  --tw-stone-200: 231, 229, 228;
  --tw-stone-300: 214, 211, 209;
  --tw-stone-400: 168, 162, 158;
  --tw-stone-500: 120, 113, 108;
  --tw-stone-600: 87, 83, 78;
  --tw-stone-700: 68, 64, 60;
  --tw-stone-800: 41, 37, 36;
  --tw-stone-900: 28, 25, 23;

  // Tailwind Red
  --tw-red-50: 254, 242, 242;
  --tw-red-100: 254, 226, 226;
  --tw-red-200: 254, 202, 202;
  --tw-red-300: 252, 165, 165;
  --tw-red-400: 248, 113, 113;
  --tw-red-500: 239, 68, 68;
  --tw-red-600: 220, 38, 38;
  --tw-red-700: 185, 28, 28;
  --tw-red-800: 153, 27, 27;
  --tw-red-900: 127, 29, 29;

  // Tailwind Amber
  --tw-amber-50: 255, 251, 235;
  --tw-amber-100: 254, 243, 199;
  --tw-amber-200: 253, 230, 138;
  --tw-amber-300: 252, 211, 77;
  --tw-amber-400: 251, 191, 36;
  --tw-amber-500: 245, 158, 11;
  --tw-amber-600: 217, 119, 6;
  --tw-amber-700: 180, 83, 9;
  --tw-amber-800: 146, 64, 14;
  --tw-amber-900: 120, 53, 15;

  // Tailwind Green
  --tw-green-50: 240, 253, 244;
  --tw-green-100: 220, 252, 231;
  --tw-green-200: 187, 247, 208;
  --tw-green-300: 134, 239, 172;
  --tw-green-400: 74, 222, 128;
  --tw-green-500: 34, 197, 94;
  --tw-green-600: 22, 163, 74;
  --tw-green-700: 21, 128, 61;
  --tw-green-800: 22, 101, 52;
  --tw-green-900: 20, 83, 45;

  // Tailwind Emerald
  --tw-emerald-50: 236, 253, 245;
  --tw-emerald-100: 209, 250, 229;
  --tw-emerald-200: 167, 243, 208;
  --tw-emerald-300: 110, 231, 183;
  --tw-emerald-400: 52, 211, 153;
  --tw-emerald-500: 16, 185, 129;
  --tw-emerald-600: 5, 150, 105;
  --tw-emerald-700: 4, 120, 87;
  --tw-emerald-800: 6, 95, 70;
  --tw-emerald-900: 6, 78, 59;

  // Tailwind Teal
  --tw-teal-50: 240, 253, 250;
  --tw-teal-100: 204, 251, 241;
  --tw-teal-200: 153, 246, 228;
  --tw-teal-300: 94, 234, 212;
  --tw-teal-400: 45, 212, 191;
  --tw-teal-500: 20, 184, 166;
  --tw-teal-600: 13, 148, 136;
  --tw-teal-700: 15, 118, 110;
  --tw-teal-800: 17, 94, 89;
  --tw-teal-900: 19, 78, 74;

  // Tailwind Cyan
  --tw-cyan-50: 236, 254, 255;
  --tw-cyan-100: 207, 250, 254;
  --tw-cyan-200: 165, 243, 252;
  --tw-cyan-300: 103, 232, 249;
  --tw-cyan-400: 34, 211, 238;
  --tw-cyan-500: 6, 182, 212;
  --tw-cyan-600: 8, 145, 178;
  --tw-cyan-700: 14, 116, 144;
  --tw-cyan-800: 21, 94, 117;
  --tw-cyan-900: 22, 78, 99;

  // Tailwind Blue
  --tw-blue-50: 239, 246, 255;
  --tw-blue-100: 219, 234, 254;
  --tw-blue-200: 191, 219, 254;
  --tw-blue-300: 147, 197, 253;
  --tw-blue-400: 96, 165, 250;
  --tw-blue-500: 59, 130, 246;
  --tw-blue-600: 37, 99, 235;
  --tw-blue-700: 29, 78, 216;
  --tw-blue-800: 30, 64, 175;
  --tw-blue-900: 30, 58, 138;

  // Tailwind Violet
  --tw-violet-50: 245, 243, 255;
  --tw-violet-100: 237, 233, 254;
  --tw-violet-200: 221, 214, 254;
  --tw-violet-300: 196, 181, 253;
  --tw-violet-400: 167, 139, 250;
  --tw-violet-500: 139, 92, 246;
  --tw-violet-600: 124, 58, 237;
  --tw-violet-700: 109, 40, 217;
  --tw-violet-800: 91, 33, 182;
  --tw-violet-900: 76, 29, 149;

  // Tailwind Purple
  --tw-purple-50: 250, 245, 255;
  --tw-purple-100: 243, 232, 255;
  --tw-purple-200: 233, 213, 255;
  --tw-purple-300: 216, 180, 254;
  --tw-purple-400: 192, 132, 252;
  --tw-purple-500: 168, 85, 247;
  --tw-purple-600: 147, 51, 234;
  --tw-purple-700: 126, 34, 206;
  --tw-purple-800: 107, 33, 168;
  --tw-purple-900: 88, 28, 135;

  // Tailwind Fuchsia
  --tw-fuchsia-50: 253, 244, 255;
  --tw-fuchsia-100: 250, 232, 255;
  --tw-fuchsia-200: 245, 208, 254;
  --tw-fuchsia-300: 240, 171, 252;
  --tw-fuchsia-400: 232, 121, 249;
  --tw-fuchsia-500: 217, 70, 239;
  --tw-fuchsia-600: 192, 38, 211;
  --tw-fuchsia-700: 162, 28, 175;
  --tw-fuchsia-800: 134, 25, 143;
  --tw-fuchsia-900: 112, 26, 117;

  // Tailwind Pink
  --tw-pink-50: 253, 242, 248;
  --tw-pink-100: 252, 231, 243;
  --tw-pink-200: 251, 207, 232;
  --tw-pink-300: 249, 168, 212;
  --tw-pink-400: 244, 114, 182;
  --tw-pink-500: 236, 72, 153;
  --tw-pink-600: 219, 39, 119;
  --tw-pink-700: 190, 24, 93;
  --tw-pink-800: 157, 23, 77;
  --tw-pink-900: 131, 24, 67;

  // Tailwind rose
  --tw-rose-50: 255, 241, 242;
  --tw-rose-100: 255, 228, 230;
  --tw-rose-200: 254, 205, 211;
  --tw-rose-300: 253, 164, 175;
  --tw-rose-400: 251, 113, 133;
  --tw-rose-500: 244, 63, 94;
  --tw-rose-600: 225, 29, 72;
  --tw-rose-700: 190, 18, 60;
  --tw-rose-800: 159, 18, 57;
  --tw-rose-900: 136, 19, 55;
}
