@use "sass:map";

// @use "./fallback-fonts.scss";

$sans-font-faces: (
  "en": (
    "Noto Sans",
    "Noto Sans SC",
    // "Noto Sans fallback",
    // "Noto Sans SC fallback",
    sans-serif,
  ),
  "zh": (
    "Noto Sans SC",
    "Noto Sans",
    // "Noto Sans SC fallback",
    // "Noto Sans fallback",
    sans-serif,
  ),
  "zh-CN": (
    "Noto Sans SC",
    "Noto Sans",
    // "Noto Sans SC fallback",
    // "Noto Sans fallback",
    sans-serif,
  ),
  "zh-Hans": (
    "Noto Sans SC",
    "Noto Sans",
    // "Noto Sans SC fallback",
    // "Noto Sans fallback",
    sans-serif,
  ),
  "ja": (
    "Noto Sans JP",
    "Noto Sans SC",
    "Noto Sans",
    // "Noto Sans JP fallback",
    // "Noto Sans SC fallback",
    // "Noto Sans fallback",
    sans-serif,
  ),
  "ko": (
    "Noto Sans KR",
    "Noto Sans SC",
    "Noto Sans",
    // "Noto Sans KR fallback",
    // "Noto Sans SC fallback",
    // "Noto Sans fallback",
    sans-serif,
  ),
);
$serif-font-faces: (
  "en": (
    "Noto Serif",
    "Noto Serif SC",
    // "Noto Serif fallback",
    // "Noto Serif SC fallback",
    serif,
  ),
  "zh": (
    "Noto Serif SC",
    "Noto Serif",
    // "Noto Serif SC fallback",
    // "Noto Serif fallback",
    serif,
  ),
  "zh-CN": (
    "Noto Serif SC",
    "Noto Serif",
    // "Noto Serif SC fallback",
    // "Noto Serif fallback",
    serif,
  ),
  "zh-Herif": (
    "Noto Serif SC",
    "Noto Serif",
    // "Noto Serif SC fallback",
    // "Noto Serif fallback",
    serif,
  ),
  "ja": (
    "Noto Serif JP",
    "Noto Serif SC",
    "Noto Serif",
    // "Noto Serif JP fallback",
    // "Noto Serif SC fallback",
    // "Noto Serif fallback",
    serif,
  ),
  "ko": (
    "Noto Serif KR",
    "Noto Serif SC",
    "Noto Serif",
    // "Noto Serif KR fallback",
    // "Noto Serif SC fallback",
    // "Noto Serif fallback",
    serif,
  ),
);

@each $lang, $font-list in $sans-font-faces {
  html[lang^="#{$lang}"],
  .sans [data-lang^="#{$lang}"],
  [data-lang^="#{$lang}"] .sans,
  html[lang^="#{$lang}"] .sans,
  [data-lang^="#{$lang}"] {
    font-family: $font-list;
  }
}

@each $lang, $font-list in $serif-font-faces {
  .serif [data-lang^="#{$lang}"],
  [data-lang^="#{$lang}"] .serif,
  html[lang^="#{$lang}"] .serif {
    font-family: $font-list;
  }
}

html {
  font-family: map.get($sans-font-faces, "en");
}
